<header class="colores">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center ">
        <br>
        <h1 class="display-4 fw-normal" style="color: aliceblue;">Pricing</h1>
        <br>
        <p class="fs-5" style="color: aliceblue;">
            Quickly build an effective pricing table for your potential customers with this 
            Bootstrap example. It’s built with default Bootstrap components and utilities with 
            little customization.
        </p>
    </div>
</header>
<br>

<main>
    <div class="row p-3 pb-md-4 text-center max-auto">
        <h2 class="display-6 text-center mb-4">Compare plans</h2>
        <p class="fs-5 text-body-secondary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sit minus, 
            impedit similique atque consequatur debitis, asperiores non neque dolor dolores 
            alias veritatis quo?
        </p>
    </div>        

    <div class="row row-cols-1 row-cols-md-4 mb-4 text-center" style="padding: 30px;">

        <div class="col">
            <div class="card mb-3" style="max-width: 18rem; background-color: rgb(20, 33, 61);">
                <div class="card-body">
                  <h5 class="card-title" style="color: aliceblue;">Primary card title</h5>
                  <p class="card-text" style="color: aliceblue;">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Warning card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>        

        <div class="col">
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>
    <br>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="padding: 40px;">

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>              

    </div>

    <div class="text-center colores">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h3 class=" fw-normal" style="color: aliceblue;">Hamagoslo!!!!</h3>
            <h1 class="display-4 fw-normal" style="color: aliceblue;">Pricing</h1>
            <p class="fs-5" style="color: aliceblue;">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
        </div>
    </div>
</main>
