<main>
    <div class="row featurette colores">
        <div class="col-md-7" style="padding: 30px;">
          <h2 class="featurette-heading fw-normal lh-1" style="color: aliceblue;">First featurette heading. It’ll blow your mind.</h2>
          <p class="lead" style="color: aliceblue;">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
        </div>
    </div>
    <br><br>

    <div class="text-center">
        <form class="et_pb_contact_form" action="">
            <div class="et_pb_contact_field" >
                <input class="form-control shadow p-3 mb-4 bg-body-tertiary rounded form-control-lg" type="text" placeholder="Nombre*" aria-label=".form-control-lg example">
                
                <div class="row md-2">
                    <div class="col">
                        <input class="form-control shadow p-3 mb-4 bg-body-tertiary rounded form-control-lg" type="text" placeholder="Dirreccion de correo electronico*" aria-label=".form-control-lg example">
                    </div>
                    
                    <div class="col">
                        <input class="form-control shadow p-3 mb-4 bg-body-tertiary rounded form-control-lg" type="text" placeholder="Telefono*" aria-label=".form-control-lg example">
                    </div>
                </div>
                
                <textarea class="shadow p-3 mb-4 bg-body-tertiary rounded form-control" id="exampleFormControlTextarea1" placeholder="Mensaje*" rows="3"></textarea>
                <br>

                <div class="et_contact_bottom_container">
                    <button type="submit" name="et_builder_submit_button" class="et_pb_contact_form_1 et_contact_bottom_container et_pb_contact_submit">
                        Enviar
                    </button>
                </div>
            </div>
            
        </form>
        <br>

        <div class="text-center">
            <p class="form-control-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            
        </div>
        
    </div>
    
</main>